.hide {
  display: none;
}

.stats {
  display: none;
  margin: 20px;
  text-align: center;
}

.jumbotron {
  text-align: center;
}

.black {
  background-color: black;
  color: white;
}

.black:hover {
  color: white;
}

#go {
  text-align: center;
}

#start-game {
  display: block;
  margin-top: 12px;
  margin-left: auto;
  margin-right: auto;
}
